* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f7f9fc;
    color: #222;
}

header {
    background: #0b0c10;
    color: white;
    padding-bottom: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: #66fcf1;
}

.hero {
    text-align: center;
    margin-top: 60px;
}

.hero h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero h2 span {
    color: #66fcf1;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 25px;
    background: #66fcf1;
    color: #0b0c10;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
}

section {
    padding: 60px;
}

section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #0b0c10;
}

.skill-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.skill-box {
    padding: 12px 20px;
    background: #e3e8f1;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.2s;
}

.skill-box:hover {
    background: #66fcf1;
}

.project {
    margin-bottom: 25px;
    background: #fff;
    padding: 20px;
    border-left: 5px solid #66fcf1;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.07);
}

footer {
    text-align: center;
    padding: 20px;
    background: #0b0c10;
    color: white;
}

